/* Banner section start */
.first-banner-container{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Banner\ Image.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin: 50px 250px;
}
.first-banner{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    padding: 150px 344px;
}
.banner-description{
    font-weight: 900;
    font-size: 72px;
}
.banner-title{
    font-size: 32px;
}
/* second banner style */
.discount{
    color: #f00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.mini-title{
    color: #f00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.title{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}
.second-banner-container{
    position: relative;
    text-align: center;
}
.banner-image{
    width: 802.9px;
    height: 500px;
}

/* Third banner style */
.third-banner-container{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Vectorrr.png);
    background-size: contain;
    border-radius: 16px;
    margin: 50px 250px;
    width: 1320px;
    height: 600px;
    gap: 24px;
    position: relative;
}
.year-2024{
    position: absolute;
    width: 319.83px;
    height: 400px;
    top: 60px;
    right: 95px
}
.third-banneer{
    text-align: center;
    font-family: Merriweather;
    padding: 126px 552px 258px 126px;
}
.third-banner-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    text-align: left;
}
.third-banneer-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
}
.join-btn{
    color: #FFF;
    background: transparent;
    border: none;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
}
.join-btn:hover{
    color: aqua;
}
/* Main part  */
/* Party time and place part  */
.party-time{
    width: 1320px;
    height: 600px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 50px 250px;
    border-radius: 16px;
}
.party-time-information{
    margin: 0 320px;
    padding-top: 100px;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.s-color{
    color: #F00;
}
.join-now{
    margin: 40px 550px;
    display: inline-flex;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}
.join-now:hover{
    background: rgb(103, 223, 183);
    box-shadow: 0 0 5px 0 rgba(0, 0, 255, 0.5);
}
/* coming soon banner  */
.coming-soon-banner{
    margin: 40px 245px;
    width: 1320px;
    height: 500px;
    border-radius: 16px;
    background: #e3e5e6;
    display: flex;
    justify-content: space-between;
}
.row-1{
    display: block;
    margin-left: 10px;
    margin-top: 50px;
}
.row-2{
    display: block;
    margin-right: 10px;
    margin-top: 50px;
}
.best-offer{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}
.coming-soon-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: -20px;
}
.new-year-description{
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: -35px;
}
.round-image{
    height: 92%;
    width: 92%;
    margin: 18px 18px;
}
.round-image-conatainer{
    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 15px solid #F00;
    margin-left: -50px;
}
.y-2024{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.new-year-description-2{
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: -35px;
}
.newYear-image{
    width: 140px;
    height: 140px;
}

/* holiday part  */

.holiday-sale{
    width: 1320px;
    height: 950px;
    margin: 40px 245px;
    border-radius: 16px;
    background: #FFF;
    text-align: center;
}
.short-title{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: -5px;
}
.main-title{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: -15px;
}
.specific-color{
    color: #F00;
}
.holiday-description{
    width: 900px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-left: 200px;
    margin-top: -25px;
}
.rectangle{
    width: 1320px;
    height: 229px;
    margin-top: 460px;
}
.rectangle-1{
    margin-top: -660px;
    margin-left: 895px;
}
.circle{
    width: 206.841px;
    height: 206.841px;
    margin-top: -380px;
    margin-left: 730px;
}
.gift-box{
    width: 278.09px;
    height: 333.424px;
    margin-top: -120px;
    padding-left: 50px;
}
/* Portfolioo part  */
.portfolio-container{
   
    margin: 10px 250px;
}
.gifts{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
}
.portfolio{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.portfolio-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 0 564px 35px 0;
}
.row{
    display: flex;
    margin-left: 250px;
    gap: 22px;
    padding-bottom: 22px;
    
}
.img{
    width: 424px;
    height: 450px;
}

/* Subscribe part  */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: -68px;
    margin-top: -68px;
}
.subscribe{
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.subscribe-icon{
    margin: 80px 585px;
    width: 150px;
    height: 150px;
}
.subscribe-title{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: -50px;
}
.subscribe-description{
    color: 7, 2, 17, 0.60;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: -20px 212px 200px 212px;
}
.email-btn{
    margin: -160px 345px;
}
.email-sub{
    width: 450px;
    height: 60px;
    display: inline;
    border-radius: 50px;
    border: none;
    color: rgba(7, 2, 17, 0.30);
    padding: 0 30px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    transition: border-color 0.3s ease-in-out;
}
.email-sub:focus{
    outline: none;
    border-color: transparent;
    background-color: rgb(236, 234, 234);
    box-shadow: 0 0 2px 0 rgba(0, 0, 255, 0.5);
}
.subscribe-btn{
    width: 150px;
    height: 60px;
    margin-left: -35px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}
.subscribe-btn:hover{
     background-color: aqua;
     color: #070211;
     box-shadow: 0 0 2px 0 rgba(0, 0, 255, 0.5);
}
/* footer part style  */
.footer-container{
    max-width: 2000px;
    height: 750px;
    background: #070211;
}
.contact-info{
    display: flex;
    color: #FFF;
    justify-content: space-between;
}
.contact{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 120px 290px;
}
.address{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 120px;
    margin-left: 180px;
}
.call-web-icon-info{
    display: flex;
    justify-content: flex-start;
}
.call-web-i{
    width: 24px;
    height: 24px;
    margin-top: 28px;
    margin-right: 15px;
}
.line1{
    width: 1480px;
    height: 1px;
    background: rgba(239, 239, 239, 0.15);
    margin-top: -80px;
}
.line2{
    width: 1480px;
    height: 1px;
    background: rgba(239, 239, 239, 0.15);
    margin-top: 60px;
}


.social-media{
    width: 64px;
    height: 64px;
    display: inline-flex;
    margin-top: 30px;
    margin-left: 800px;
    gap: 24px;
}
.footer-message{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
